# Ignore node_modules
node_modules
**/node_modules

# Build folders
dist
build
.turbo
apps/*/dist
apps/*/build

# Ignore git folder
.git

# Ignore local environment variables
.env
*.env
.env.local

# Ignore Supabase local infrastructure
infra/supabase/volumes/
infra/supabase/docker-compose*.yml

# Ignore log files
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore OS-specific files
.DS_Store
Thumbs.db
